<h1> Naeem Khoshnevis </h1>

<p>
Hello! Welcome to this page.
</p>
<p>
Here is my homepage: <%= link_to 'https://github.com/Naeemkh','https://github.com/Naeemkh' %>
</p>


<%= image_tag("naeem_image")%>

<p>
<%= link_to 'Home', home_path %>
</p>